<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Progress Bar App</title>
    <link rel="icon" type="image/png" href="#" />
    <link href="../styles/ProgressBars.min.css" rel="stylesheet" />
</head>
<body>
    <div class="panel">
        <div class="panel-header">
            <h1>Progress Bar Application</h1>
        </div>
        <div class="panel-body">
            <div id="dvProgressContainer"></div>
            <div id="dvSelectContainer"></div>
            <div id="dvButtonContainer"></div>
            <div id="dvNoResult" class="hide">Invalid endpoint results..</div>
        </div>
    </div>
    <script src="../scripts/ProgressBar.es5.min.js"></script>
</body>
</html>